// Your variable overrides
$body-bg: #ebebeb;
$body-color: #262626;
$primary: #f1701f;
$dark: #262626;
// Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap";

html,
body,
#root,
#root>div {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Exo 2', sans-serif;
}
@media screen and (max-width:468px){
  html{
    font-size: 16px;
  }
}
a {
  text-decoration: none;
}

nav {
  position: absolute !important;
  top: 0;
  z-index: 9;
  box-shadow: 0 0 5px #262626;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-title {
  background-color: $primary;
  border-radius: 15px;
  padding: 1rem;
  color: white;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  text-transform: uppercase;

  & span {
    text-transform: lowercase;
    font-size: 1.2rem;
    margin-top: 0.8rem;
    display: block;
    font-weight: 200;
  }
}

#menu {

  & button,
  & a {
    width: calc(50% - 20px);
    color: #262626;
    background-color: white;
    padding: 30px 15px;
    border: 0;
    margin: 10px;
    padding: 50px 30px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.2rem;
  }

  & img {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      background-color: $primary;
      height: 6px;
      width: 10px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

    }
  }
}

.prompt {
  position: absolute;
  top: 10px;
  box-shadow: 0 0 5px #262626;
  left: 50%;
  transform: translate(-50%, 10px);
  max-width: 400px;
  width: 80%;
  z-index: 999;
  text-align: center;

  & .card-body {
    color: $body-bg;
  }

  & .card-footer {
    padding: 20px;
  }
}

.customContainer {
  position: relative;
  padding-top: 100px;
}

.customContainer>.row {
  height: 100%;
}

.btn-radius {
  border-radius: 50px;
}

.modelos {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 200;
  text-align: right;
  position: relative;

  &:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: left;
    & img {
      right: -80px;
    }
  }
  &:nth-child(even) {
    & img {
      left: -80px;
    }
  }
  & img {
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    top: -20px;
    height: 160px;
  }

  &>div {
    width: 50%;
  }

  & .titulo {
    font-weight: 700;
    padding: 1rem 0;

    & span {
      font-weight: 600;
      display: block;
      color: $primary;
      text-transform: capitalize;

      & img {
        background-color: transparent;
        padding: 0;
        height: 15px;
        opacity: .7;
        margin-right: 0.5rem;
      }
    }
  }

}

form input,
form select {
  background-color: white !important;
  border: 0 !important;
  padding: 10px !important;
}

.custom-btn {
  border-radius: 15px;
  padding: 20px 30px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  border: 0;

  &.primary {
    background-color: $primary;
  }

  &.light {
    color: $dark;
    background-color: $light;
  }

  &.success {
    background-color: $success;
  }

  &.danger {
    background-color: $danger;
  }

  &.warning {
    background-color: $warning;
  }

  &.info {
    background-color: $info;
  }
}

#tablaManuales {
  & img{
    max-height: 120px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;

  .home-logo {
    padding: 10px;
    background-color: #262626;
    position: relative;
    border-radius: 20px;
    top: -35px;
    box-shadow: 0 0.125rem 0.25rem #0c0c0c;
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    transition: all .5s ease-in-out;

    & :active {
      transform: scale(1.1);
    }
  }
}